
{% extends 'App_Services/home.html' %}
{% load static %}

{% block content %}

<br>
<br>


    <div class="container">
       <h2 class="text-center text-dark">
           Acerca de Nosotros
       </h2>
       <br>
       <div class="row g-4">
           <div class="col-md-6 col-lg-3">
               <div class="card bg-success">
                    <div class="card-body text-center">
                        <img src="{% static 'imagenes/jp2.jpeg' %}" class="rounded-circle mb-3" width="150px">
                    <h3 class="card-title mb-3">Juan Aguerre - Ayrton da Silva - Sebastián Martinez</h3>
                    <p class="card-text">Python Developer Jr.</p>
                    <p class="card-text">Sigueme en:</p>
                    <a href="https://github.com/ayrtondasilva1993"><i class="bi bi-github text-dark mx-1"></i></a>
                    <a href="https://www.linkedin.com/in/juanaguerre/"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                    </div>
               </div>
           </div>
           <div class="col">
            <div class="">
                 <div class="text-center">
                    <p>Bienvenidos a nuestra página web. Somos un equipo de profesionales apasionados por la tecnología y la enseñanza. 

                        Juan Aguerre es nuestro ingeniero electrónico con amplia experiencia en el diseño de sistemas embebidos y actualmente es docente en la Universidad de Buenos Aires. Su pasión por la enseñanza lo ha llevado a transmitir sus conocimientos a futuros ingenieros y siempre se mantiene actualizado en las últimas tendencias y avances tecnológicos. Además, ha desarrollado habilidades en comunicación y es un comunicador efectivo. Si necesitas servicios de ingeniería electrónica o un docente comprometido y apasionado, no dudes en contactar con Juan. 
                        
                        Ayrton da Silva es nuestro ingeniero mecánico especializado en la simulación numérica y difusión tecnológica. Como docente en la Universidad Nacional de Lomas de Zamora, enseña procesos de simulación numérica a estudiantes de ingeniería y brinda servicios tecnológicos a pequeñas y medianas empresas en el área de simulación de procesos. Su objetivo es ayudar a más empresas a beneficiarse de la tecnología avanzada y prácticas innovadoras en el sector para mejorar sus procesos productivos y ser más competitivos en el mercado. 
                        
                        Sebastian Martinez es nuestro técnico en compatibilidad electromagnética y estudiante de ingeniería electrónica. Su curiosidad y pasión por la tecnología lo llevan a investigar y resolver problemas complejos en el ámbito de la compatibilidad electromagnética. Su personalidad divertida y curiosa lo hacen un excelente miembro de nuestro equipo. Si necesitas soluciones en compatibilidad electromagnética, no dudes en contactar con Sebastian. 
                        
                        En resumen, nuestro equipo está compuesto por profesionales altamente capacitados y apasionados por la tecnología y la enseñanza. Si necesitas servicios tecnológicos, docentes comprometidos y apasionados, o soluciones en compatibilidad electromagnética, no dudes en contactar con nosotros. Estamos aquí para ayudarte a alcanzar tus objetivos y mejorar tu empresa mediante el uso de tecnología avanzada y prácticas innovadoras en el sector.   :)</p>
                 </div>
            </div>
        </div>
       </div>
    </div>
    <br>
    <br>
    <br>
    <br>



{% endblock %}