{% extends 'App_Services/home.html' %}

{% block content %}

<br>
<br>
<br>


{% if user.id == avatar.usuario.id %}
<div class="container">
    <h1 class="text-center">Modificar Avatar</h1>
</div>
<br>

<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
<br>
<br>

{% else %}

<div class="container">
<h4>No tienes acceso a esta pagina!</h4>
</div>

{% endif %}



{% endblock %}