{% extends 'App_Services/home.html' %}

{% block content %}

<br>
<br>
<br>

<div class="container">
    <h1 class="text-center">Crear Avatar</h1>
</div>

<br>
<form style=" width: 50vw; margin-left : 15vw;" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="container text-center">
    <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>

<br>
<br>


<script>
    var name = "{{ user.id }}";
    document.getElementById("usuario_id").value = name;
</script>

{% endblock %}