{% extends 'App_Services/home.html' %}

{% block content %}

<br>
<br>





<div class="container text-center">
    <br>
    <h1>Servicios de escaneos 3D</h1>
</div>

<br>

<div class="container text-center">
    <div class="row">
            {% for escan3d in escaneo3d %}
            <div class="col-sm-6 align-items-center">
                <div class="card-body">
                <img src="{{escan3d.imagen_servicio.url}}" class="" width="100px">
                {{escan3d.titulo}}
                <a href="{% url 'escaneo3d-detalle' escan3d.id %}"><i class="bi bi-eye"></i></a>
                {% if user.id == escan3d.usuario.id %}
                <a href="{% url 'escaneo3d-editar' escan3d.id %}"><i class="bi bi-pencil-fill"></i></a>
                <a href="{% url 'escaneo3d-borrar' escan3d.id %}"><i class="bi bi-trash text-danger"></i></a>
                <br>
                <br>
                <br>
                <br>
                {% endif %}
                </div>
            </div>
            {% endfor %}
    </div>
</div>

{% endblock %}