{% extends 'App_Services/home.html' %}

{% block content %}

<br>
<br>

<div class="container">

<p><h4>{{escaneo3d.titulo}}</h4></p>
{% if escaneo3d.imagen_servicio %}
    <p><img src="{{escaneo3d.imagen_servicio.url}}" alt=""></p>
{% endif %}
<p>Marca: {{escaneo3d.marca}}</p>
<p>Modelo: {{escaneo3d.modelo}}</p>
<p>Descripción: {{escaneo3d.descripcion}}</p>
<p>Año: {{escaneo3d.anio}}</p>
<p>Teléfono de Contacto: {{escaneo3d.telefono_contacto}}</p>
<p>Email de Contacto: {{escaneo3d.email_contacto}}</p>

</div>
<br>
<div class="container">
    <h4>Comentarios...</h4>
    <br>
    <div class="container">
    {% if not escaneo3d.comentarios.all %}
        No han comentado este servicio
    {% else %}
        {% for comentario in escaneo3d.comentarios.all %}
        <p><strong>{{comentario.nombre}}</strong></p>
        <p>{{comentario.mensaje}}</p>
        <p><small>{{comentario.fecha_comentario}}</small></p>
        <hr>
        {% endfor %}
    {% endif %}
    <a href="{% url 'comentario' escaneo3d.pk %}">Agrega un Comentario</a>
    </div>
</div>

{% endblock %}