{% extends 'App_Services/home.html' %}

{% block content %}

<br>
<br>

<div class="container">

<p><h4>{{impresion3d.titulo}}</h4></p>
{% if impresion3d.imagen_servicio %}
    <p><img src="{{impresion3d.imagen_servicio.url}}" alt=""></p>
{% endif %}
<p>Marca: {{impresion3d.marca}}</p>
<p>Modelo: {{impresion3d.modelo}}</p>
<p>Descripción: {{impresion3d.descripcion}}</p>
<p>Año: {{impresion3d.anio}}</p>
<p>Teléfono de Contacto: {{impresion3d.telefono_contacto}}</p>
<p>Email de Contacto: {{impresion3d.email_contacto}}</p>

</div>
<br>
<div class="container">
    <h4>Contactate con el vendedor</h4>
    <br>
    <div class="container">
    {% if not impresion3d.comentarios.all %}
        No han comentado este servicio
    {% else %}
        {% for comentario in impresion3d.comentarios.all %}
        <p><strong>{{comentario.nombre}}</strong></p>
        <p>{{comentario.mensaje}}</p>
        <p><small>{{comentario.fecha_comentario}}</small></p>
        <hr>
        {% endfor %}
    {% endif %}
    <a href="{% url 'comentario' impresion3d.pk %}">Agrega un Comentario</a>
    </div>
</div>
<br>
{% endblock %}