{% extends 'App_Services/home.html' %}

{% block content %}

<br>
<br>





<div class="container text-center">
    <br>
    <h1>Otros servicios</h1>
</div>

<br>

<div class="container text-center">
    <div class="row">
            {% for servicio in otros %}
            <div class="col-sm-6 align-items-center">
                <div class="card-body">
                <img src="{{servicio.imagen_servicio.url}}" class="" width="100px">
                {{servicio.titulo}}
                <a href="{% url 'otros-detalle' servicio.id %}"><i class="bi bi-eye"></i></a>
                {% if user.id == servicio.usuario.id %}
                <a href="{% url 'otros-editar' servicio.id %}"><i class="bi bi-pencil-fill"></i></a>
                <a href="{% url 'otros-borrar' servicio.id %}"><i class="bi bi-trash text-danger"></i></a>
                <br>
                <br>
                <br>
                <br>
                {% endif %}
                </div>
            </div>
            {% endfor %}
    </div>
</div>

{% endblock %}