{% extends 'App_Services/home.html' %}

{% block content %}

<br>
<br>

<div class="container">

<p><h4>{{otros.titulo}}</h4></p>
{% if otros.imagenServicios %}
    <p><img src="{{otros.imagen_servicio.url}}" alt=""></p>
{% endif %}
<p>Marca: {{otros.marca}}</p>
<p>Modelo: {{otros.modelo}}</p>
<p>Descripción: {{otros.descripcion}}</p>
<p>Año: {{otros.anio}}</p>
<p>Teléfono de Contacto: {{otros.telefono_contacto}}</p>
<p>Email de Contacto: {{otros.email_contacto}}</p>

</div>
<br>
<div class="container">
    <h4>Comentarios...</h4>
    <br>
    <div class="container">
    {% if not otros.comentarios.all %}
        No han comentado este instrumento
    {% else %}
        {% for comentario in otros.comentarios.all %}
        <p><strong>{{comentario.nombre}}</strong></p>
        <p>{{comentario.mensaje}}</p>
        <p><small>{{comentario.fechaComentario}}</small></p>
        <hr>
        {% endfor %}
    {% endif %}
    <a href="{% url 'comentario' otros.pk %}">Agrega un Comentario</a>
    </div>
</div>
<br>
{% endblock %}