{% extends 'App_Services/home.html' %}

{% block content %}

<br>
<br>





<div class="container text-center">
    <h1>softwares</h1>
</div>

<br>

<div class="container text-center">
    <div class="row">
            {% for software in softwares %}
            <div class="col-sm-6 align-items-center">
                <div class="card-body">
                <img src="{{software.imagenInstrumento.url}}" class="" width="100px">
                {{software.titulo}}
                <a href="{% url 'software' software.id %}"><i class="bi bi-eye"></i></a>
                {% if user.id == software.usuario.id %}
                <a href="{% url 'software_editar' software.id %}"><i class="bi bi-pencil-fill"></i></a>
                <a href="{% url 'software_eliminar' software.id %}"><i class="bi bi-trash text-danger"></i></a>
                <br>
                <br>
                <br>
                <br>
                {% endif %}
                </div>
            </div>
            {% endfor %}
    </div>
</div>

{% endblock %}