{% extends 'App_Services/home.html' %}

{% block content %}

<br>
<br>

<div class="container">


<p><h4>{{software.titulo}}</h4></p>
{% if software.imagen_servicio %}
    <p><img src="{{software.imagen_servicio.url}}" alt=""></p>
{% endif %}
<p>Marca: {{software.marca}}</p>
<p>Modelo: {{software.modelo}}</p>
<p>Descripción: {{software.descripcion}}</p>
<p>Año: {{software.anio}}</p>
<p>Teléfono de Contacto: {{software.telefono_contacto}}</p>
<p>Email de Contacto: {{software.email_contacto}}</p>

</div>
<br>
<div class="container">
    <h4>Contactate con el vendedor</h4>
    <br>
    <div class="container">
    {% if not software.comentarios.all %}
        No han comentado este software
    {% else %}
        {% for comentario in software.comentarios.all %}
        <p><strong>{{comentario.nombre}}</strong></p>
        <p>{{comentario.mensaje}}</p>
        <p><small>{{comentario.fecha_comentario}}</small></p>
        <hr>
        {% endfor %}
    {% endif %}
    <a href="{% url 'comentario' software.pk %}">Agrega un Comentario</a>
    </div>
</div>
<br>
{% endblock %}